.header{
    font-size: 2em;
    text-decoration: underline;
}
.country{
    text-align: center;
}
.container{
    padding: 3em;
    width: 100%;
}
.container2{
    padding-left: 3em;
}
.avatar {
    width: 100%;
    height: 40em;
    border-radius: 15px;
}
.padding{
    padding: 2em;
    margin: 1em;
}
.table{
    border: #c2c2c2 1px solid;
}
.country-row:hover{
    background-color: #c2c2c2;
}
