<!-- <mat-toolbar> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">CRICTOUR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="match" routerLinkActive='active'>Matches <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link"  routerLink="country" routerLinkActive='active'>Country <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="venue" routerLinkActive='active'>Venue <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="point-table" routerLinkActive='active'>Point table <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
<!-- </mat-toolbar> -->
