.spacer{
    flex: 1 1 auto;
}
.active {
    // background-color: #fff !important;
    color: black !important;
    border-radius: 10px !important;
    margin-bottom: 2px !important;
    font-weight: bolder;
}
.navbar-brand{
    margin-left: 1em;
}
.navbar-nav{
    margin-left: 2em;
}
// a{
//     margin-right: 3em;
// }